body {
  font-family: Verdana;
  background-image: url('./images/background.png');
  /* background-size: cover; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  text-align: center;
}

#pokemon-selector {
  text-transform: capitalize;
  text-align: center;
}

.pokemon-details {
  text-transform: capitalize;
  display: grid;
}

.pokemon-image {
  float: right;
  height: 500px;
  width: 500px;
}
